@media   (min-width: 1020px){
    .footer-father{
        height: 18vh;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
        bottom: 0;
top:66vh;   
 }
    .icon-father{
        position: relative;
        top: 6vh;
        margin-left: 77vw;
    }
    .icon{
        color: white;
        font-size: 2rem;
        list-style: none;
        text-decoration: none;
    }
    .reference{
        width: 66vw;
        height: 6vh;
        color:white;
        @include flex-row-between;
        position: relative;
        top: -2vh;
        font-size: 1rem;
    }
    .reference-mid{
        position: relative;
        left: 15vh;
    }
    .date{
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
    }
    .heart{
        color:red;
        animation: heart 1s infinite ease-in-out;
        height: 4vh;
        width: 4vw;
        position: relative;
        left: 4vh;
    }
    
    @keyframes heart{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(0.5);
        }
    }
    }
    @media only screen and  (max-width: 1020px){
        .footer-father{
            height: 12vh;
            width: 100%;
            display: block;
            background-color:b;
            position: relative;
            bottom: 0;
            position: relative;
            top: 66vh;
        }
        .icon-father{
            position: relative;
            top: 6vh;
            margin-left: 77vw;
        }
        .icon{
            color: white;
            font-size: 2rem;
            list-style: none;
            text-decoration: none;
        }
        .reference{
            width: 88vw;
            height: 6vh;
            color:white;
            @include flex-row-between;
            font-size: 1rem;
            position: relative;
            top: -9vh;
        }
        .date{
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        }
        .heart{
            color:red;
            animation: heart 1s infinite ease-in-out;
            height: 4vh;
            width: 4vw;
            position: relative;
            left: 4vh;
        }
        
        @keyframes heart{
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(0.5);
            }
        }
        }
        
    
    
    @media only screen and (max-width: 1020px){
        .footer-father{
            height: 8vh;
            width: 100vw;
            display: block;
            background-color:black;
            position: relative;
            top: 77vh;
        }
        .icon-father{
            position: relative;
            margin-left: 77vw;
         
            top: 6vh;
        }
        .icon{
            color: white;
            font-size: 1rem;
            list-style: none;
            text-decoration: none;
            position: relative;
            right: 8vw;
        }
        .reference-mid{
            font-size: 1rem;
            width: 8vw;
            height: 2vh;
            position: relative;
            left: 8vw;
        }
        .reference{
            width: 44vw;
            height: 1vh;
            color:white;
            position: relative;
            top: -2vh;
            @include flex-row-between;
        }
        h1{
            font-size: 1rem;
            width: 8vw;
            height: 2vh;
            position: relative;
            left: 8vw;
        }
        .date{
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        
        }
        .heart{
            color: red;
            animation: heart 1s infinite ease-in-out;
            height: 4vh;
            width: 4vw;
            position: relative;
            left: 1vh;
        }
        
        @keyframes heart{
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(0.5);
            }
        }
     }
    @media (max-width: 279px){
        .footer-father{
            height: 16vh;
            width: 100vw;
            display: block;
            background-color:black;
            margin:  4% auto;
            bottom: 0vh;
            position: relative;
            top: -33vh;
            
        }
        .icon-father{
            position: relative;
            @include flex-col-between;

            
           margin-left: 99vw;
            top: 2vh;
        }
        .icon{
            color: white;
            font-size: 1rem;
            list-style: none;
            text-decoration: none;
            position: relative;
            right: 8vw;
        }
        .reference{
            width: 44vw;
            height: 1vh;
            color:white;
            @include flex-row-between;
            position: relative;
            top: -10vh;
        }
        h1, h2{
            font-size: 1rem;
            width: 8vw;
            height: 2vh;
            position: relative;
            left: 8vw;
        }
        .date{
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
        
        }
        .heart{
            color: red;
            animation: heart 1s infinite ease-in-out;
            height: 4vh;
            width: 4vw;
            position: relative;
            left: 1vh;
        }
        
        @keyframes heart{
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(0.5);
            }
        }
    }
    // @media  (max-width: 350px){
    //     .footer-father{
    //         height: 16vh;
    //         width: 100vw;
    //         display: block;
    //         background-color:black;
    //         margin:  4% auto;
    //         bottom: 0vh;
    //         position: relative;
    //         top: -33vh;
            
    //     }
    //     .icon-father{
    //         position: relative;
    //         @include flex-col-between;

            
    //        margin-left: 99vw;
    //         top: 2vh;
    //     }
    //     .icon{
    //         color: white;
    //         font-size: 1rem;
    //         list-style: none;
    //         text-decoration: none;
    //         position: relative;
    //         right: 8vw;
    //     }
    //     .reference{
    //         width: 44vw;
    //         height: 1vh;
    //         color:white;
    //         @include flex-row-between;
    //         position: relative;
    //         top: -10vh;
    //     }
    //     h1, h2{
    //         font-size: 1rem;
    //         width: 8vw;
    //         height: 2vh;
    //         position: relative;
    //         left: 8vw;
    //     }
    //     .date{
    //         background-color: transparent;
    //         border: none;
    //         outline: none;
    //         color: white;
        
    //     }
    //     .heart{
    //         color: red;
    //         animation: heart 1s infinite ease-in-out;
    //         height: 4vh;
    //         width: 4vw;
    //         position: relative;
    //         left: 1vh;
    //     }
        
    //     @keyframes heart{
    //         0%{
    //             transform: scale(1);
    //         }
    //         50%{
    //             transform: scale(0.5);
    //         }
    //     }
    // }
    // @media  (max-width: 280px){
    //     .footer-father{
    //         height: 16vh;
    //         width: 100vw;
    //         display: block;
    //         background-color:black;
    //         margin:  4% auto;
    //         bottom: 0vh;
    //         position: relative;
    //         top: -33vh;
            
    //     }
    //     .icon-father{
    //         position: relative;
    //         @include flex-col-between;

            
    //        margin-left: 99vw;
    //         top: 2vh;
    //     }
    //     .icon{
    //         color: white;
    //         font-size: 1rem;
    //         list-style: none;
    //         text-decoration: none;
    //         position: relative;
    //         right: 8vw;
    //     }
    //     .reference{
    //         width: 44vw;
    //         height: 1vh;
    //         color:white;
    //         @include flex-row-between;
    //         position: relative;
    //         top: -10vh;
    //     }
    //     h1, h2{
    //         font-size: 1rem;
    //         width: 8vw;
    //         height: 2vh;
    //         position: relative;
    //         left: 8vw;
    //     }
    //     .date{
    //         background-color: transparent;
    //         border: none;
    //         outline: none;
    //         color: white;
        
    //     }
    //     .heart{
    //         color: red;
    //         animation: heart 1s infinite ease-in-out;
    //         height: 4vh;
    //         width: 4vw;
    //         position: relative;
    //         left: 1vh;
    //     }
        
    //     @keyframes heart{
    //         0%{
    //             transform: scale(1);
    //         }
    //         50%{
    //             transform: scale(0.5);
    //         }
    //     }
    // }
