
.cart{
    height: calc(100% - 4vh);
    @include flex-col;
    
@include responsive (tab){
    font-size: 2rem;
    width: 49vw;
    background-color: red;
}
li{
    @include flex-col-between;
height: 10vh;
    list-style: none;
    color: rgb(0, 98, 255);
}
}