body {
  @include flex-col-between;
    width: 99.2vw;
    height:100vh;
    text-align: center;
    background: linear-gradient(to bottom,
    lightgray, #333 50%, #eee 75%, white 75%);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
 }
 .title{
     position: relative;
     @include responsive (tab){
 left: 50vw;
 top: 4vh;
   }
   @include responsive (mobile){
     top: 6vh;
   }
 }