* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  @include flex-col-between;
    width: 97vw;
    height:104vh;
    text-align: center;
    background: linear-gradient(to bottom,
    lightgray, #333 50%, #eee 75%, white 75%);
}
 .title{
     position: relative;
     font-size: 2rem;
     margin-top: -2vh;
     @include responsive (tab){
 left: 50vw;
 top: 4vh;
   }
   @include responsive (mobile){
     top: 6vh;
   }
 }