@mixin flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex-row-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  
}
@mixin flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
@mixin flex-col-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   

}

@mixin flex-col-around{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;  
}
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
@mixin flex-row-end{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;

    
}

@mixin  responsive ($breakpoint) {


    @if $breakpoint == laptop  {
     @media  (min-width: 700px) {@content};
                   }

     @if $breakpoint == tab {
     @media (max-width: 700px) {@content};
      }
          @if $breakpoint == mobile  {
       @media  (max-width: 500px) {@content};
        }
        @if $breakpoint == minimobile  {
            @media  (max-width: 300px) {@content};
             }                                                
}
