
.ul-store { 
        @include flex-row-between;
        height: 10vh;
        width: 100vw;
       list-style: none;   
       flex-wrap: wrap;
       @include responsive(minimobile){
        margin: auto;
    }
       
    }
    
 .li-store {

     @include flex-col-between;
   border: 1px solid black;
   width: 30vw;
   height: 60vh;
   margin: 10% auto;
   position: relative;
   top: 4vh;
   font-size: 2rem;
   @include responsive(tab){
    border: 1px solid black;
    height: 60vw;
    width: 80vw;
   }
   @include responsive(mobile){
       width: 70vw;
       height: 50vh;
       border: 1px solid blue;

   }

}
   

        .addcart{
            width: 12vw;
            height: 4vh;
            background-color: rgb(0, 162, 255);
            font-size: 1.2rem;
            text-align: center;
            position: relative;
            top: 8vh;
            @include responsive(tab){
                top: 6vh;
                width: 33vw;
            }
            @include responsive(minimobile){
                width: 33vw;
                height: 8vh;
                top: 8vh;
            }
            
          

        }
    
    h2, h3{
        color: red;
        font-size: 3rem;

    }
    h4, img, h5{
        position: relative;
        top: 2vh;
        @include responsive(tab){
            width: 200px;
            height: 200px;
        }
        @include responsive(mobile){
            width: 100px;
            height:  100px;
        }
        
        
    
    
    
    }
    
    
    .search{
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 1px solid red;
        font-size: 2rem;
        position: relative;
        top: 8vh;
        &::placeholder{
            color: black;
            text-align: center;
        }
    
    }
    .filter{
        background-color: rgb(0, 195, 255);
        height: 4vh;
        width: 15vw;
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        top: 8vh;
        @include responsive(minimobile){
            width: 22vw;
        }
        
        
    }
    .bill{
        height: 8vh;
        width: 16vw;
        font-size: 2rem;
        position: relative;
        top: 8vh;
        background-color: rgb(0, 132, 255);
        @include responsive(tab){
            font-size: 1rem;
        }
        
        
    }
    .total{
position: relative;
        height: 4vh;
        left: 60vw;
        width: 4vw;
        color: white;
        font-size: 3rem;
        @include responsive(minimobile){
            left: 88vw;
        }
        @include responsive(mobile){
            left: 88vw;
        }
    }
    