//  .ul-search{
//      @include flex-col;
//      border: 1px solid red;
// }
.ulFather{
    width: 90vw;
    height: 60vh;
    @include flex-col;

}
ul{
    width: 50vw;
    height: 22vh;
}
.ul-store { 
        @include flex-row-center;
       width: 45vw;
       height:40vh;

       @include responsive(minimobile){
        margin: auto;
    }
}
    

 .li-store {
     @include flex-col-between;
   width: 20vw;
   height: 30vh;
   margin: 0 0 2vh 2vw;
   font-size: 2rem;
   @include responsive(tab){
    border: 1px solid black;
    height: 60vw;
    width: 80vw;
   }
   @include responsive(mobile){
       width: 70vw;
       height: 50vh;
       border: 1px solid blue;

   }
}

        .addcart{
            width: 12vw;
            height: 4vh;
            background-color: rgb(0, 162, 255);
            font-size: 1.2rem;
            text-align: center;
            @include responsive(tab){
                top: 6vh;
                width: 33vw;
            }
            @include responsive(minimobile){
                width: 33vw;
                height: 8vh;
                top: 8vh;
            }
        }
    
    h2, h3{
        color: rgb(65, 14, 216);
        font-size: 3rem;
    }
    h4, img, h5{
        @include responsive(tab){
            width: 200px;
            height: 200px;
        }
        @include responsive(mobile){
            width: 100px;
            height:  100px;
        }
    }
